* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  color: #e4e4e4;
}

body {
  background-color: #131313;
  display: flex;
  flex-direction: column;
}

body > header {
  background-color: #000;
  text-align: center;
}

body > header nav {
  background-color: #313131;
  border-top: 1px solid #fbfbfb;
}

body > header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

body > header nav ul li {
  border-right: 1px solid #fbfbfb;
  cursor: pointer;
}

body > header nav ul li:first-child {
  border-left: 1px solid #fbfbfb;
}

body > header nav ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #707070;
}

body > header nav ul li:hover a {
  color: #e4e4e4;
}

body > header nav ul li.active a {
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
}

.container header {
  margin: auto;
  text-align: center;
  color: #e4e4e4;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 2px;
  color: #e4e4e4;
  opacity: 0.4;
}

.container main header {
  width: 80%;
}

.container img {
  display: block;
  width: 100%;
}

.container > main {
  margin-right: 40px;
}

article {
  margin: 40px 0;
}

article .data {
  background-color: #313131;
  padding: 10px 30px 5px 30px;
}

article h1 {
  font-size: 25px;
}

article p {
  margin: 5px 0;
  font-size: 15px;
  color: #b9b1b1;
}

.news > div {
  display: flex;
}

.news main {
  margin-right: 40px;
}

.triple > div {
  display: flex;
  justify-content: space-between;
}

aside ul {
  margin: 40px 0;
  list-style: none;
}

aside ul li a {
  text-decoration: none;
  color: #707070;
  line-height: 26px;
}

aside ul li a:hover {
  color: #e4e4e4;
}

.apiPlaceholder {
  height: 500px;
  background-color: #313131;
}

footer {
  height: 500px;
  position: relative;
  background-color: #000;
  overflow: hidden;
}

footer img {
  position: absolute;
  left: 50%;
  transform: translateX(-100%);
}

footer .form {
  position: absolute;
  left: 40%;
  top: 15%;
  text-transform: uppercase;
  z-index: 2;
  max-width: 500px;
  text-align: center;
  letter-spacing: 8px;
}

footer .form p {
  padding: 10px;
  border: 3px solid #fff;
  font-size: 40px;
}

footer .form input {
  margin-top: 20px;
  width: 80%;
  height: 40px;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  background-color: #313131;
  border: 3px solid #fff;
  color: #fff;
}

footer .form input::placeholder {
  font-size: 25px;
  color: #e4e4e4;
  opacity: 0.29;
  text-align: center;
  line-height: 40px;
}

@media (max-width: 1024px) {
  .container {
    width: 90vw;
  }

  .news > div {
    flex-direction: column;
  }

  .news > div main {
    margin: 0;
  }

  .news section {
    display: flex;
    justify-content: space-between;
  }

  .news section article {
    width: 47%;
  }

  .triple article {
    width: 30%;
  }

  .triple article h1 {
    font-size: 20px;
  }

  footer img {
    left: 50%;
    transform: translateX(-80%);
  }

  footer .form {
    left: 45%;
  }
}

@media (max-width: 768px) {
  .container {
    align-items: center;
  }

  .container > main {
    margin: 0;
  }

  aside {
    display: none;
  }

  .form {
    width: 380px;
  }

  footer .form p {
    font-size: 25px;
  }
}

@media (max-width: 640px) {
  footer {
    height: 300px;
  }

  footer .form {
    top: 9%;
    width: 300px;
  }

  footer .form p {
    font-size: 20px;
  }

  footer img {
    height: 300px;
    top: 0;
    /* width: 200px; */
  }

  footer .form input {
    margin-top: 15px;
    width: 80%;
    height: 30px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    background-color: #313131;
    border: 3px solid #fff;
    color: #fff;
  }

  footer .form input::placeholder {
    font-size: 15px;
    color: #e4e4e4;
    opacity: 0.29;
    text-align: center;
    line-height: 40px;
  }
}

@media (max-width: 360px) {
  body > header nav ul {
    flex-direction: column;
  }

  body > header nav ul li {
    border-left: 1px solid #fbfbfb;
  }

  body > header nav ul li:last-child {
    border-bottom: 1px solid #fbfbfb;
  }

  .news section {
    flex-direction: column;
  }

  .news section article {
    width: 100%;
    margin-top: 0;
  }

  .triple div {
    flex-direction: column;
    align-items: center;
  }

  .triple article {
    width: 100%;
    margin-bottom: 0;
  }

  .triple article:last-child {
    width: 100%;
    margin-bottom: 40px;
  }

  footer img {
    position: static;
    transform: none;
  }

  footer {
    height: 500px;
    padding-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  footer .form {
    position: static;
    transform: none;
    margin: auto;
  }
}
